.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1E2124;
  opacity: 0.5;

}

.modal {
  position: fixed;
  top: calc(50vh - 100px);
  left: calc(50vw - 170px);
  padding: 30px;
  width: 340px;
  text-align: center;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 3px solid #32CB82;
  box-shadow: 0px 3px 6px rgba(52, 60, 88, 0.4);
  border-radius: 8px;

  i.modal-icon {
    display: inline-block;
    width: 60px;
    line-height: 60px;
    font-size: 40px;
    font-style: normal;
    color: #FFFFFF; 
    background: #32CB82;
    border-radius: 500px;

    &:before {
      content: '✓';
    }
  }

  &.red {
    border: 3px solid #FF4F4F;
    box-shadow: 0px 3px 6px rgba(52, 60, 88, 0.4);

    i.modal-icon {
      background: #FF6660;

      &:before {
        content: '✗';
      }
    }
  }
}
